body {
    background-color: #d9d9d9;
    font-family: 'Nunito Sans', sans-serif;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.root {
    display: flex;
    height: 100vh;
    width: 100%;
    gap: 10px;
}

.sideNav {
    background-color: white;
    width: 15%;
}

.main {
    background-color: white;
    width: 85%;
}

.sideNavItem {
    
    padding:20px;
    width: 70%;
    background-color: #c7c9ed;
    margin: 5px 5px;
    border-radius: 10px;
}

.sideNavItem:hover {
    background-color: #c1bde5;
}

.dialog {
    display:none;
}

ul {
    list-style: none;
}

.tabInterface {
    display: flex;
    width: 60%;
    margin: 20px;
    gap: 10px;;
    border: 2px solid black;
    justify-content: center;
}

.eachTab {
    border: 2px solid black;
    padding: 5px;;
}

.activeUsersTab {
    color: white;
    background-color: black;;
}