body {
    background-color: #d9d9d9;
    font-family: 'Nunito Sans', sans-serif;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.root {
    display: flex;
    height: 100vh;
    width: 100%;
    gap: 10px;;
}

.sideNav {
    background-color: white;
    width: 15%;
}

.main {
    background-color: white;
    width: 85%;
}

.sideNavItem {
    
    padding:20px;
    width: 70%;
    background-color: #c7c9ed;
    margin: 5px 5px;
    border-radius: 10px;
}

.dialog {
    display:none;
}

ul {
    list-style: none;
}